
DATABASE_URL="your connection string here"
NEXTAUTH_SECRET="your secret here"
NEXTAUTH_URL="your url here"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME="your cloud name here"
CLOUDINARY_API_KEY="your api key here"
CLOUDINARY_API_SECRET="your api secret here"

# Email (SMTP) Credentials
EMAIL_SERVER_HOST="smtp.example.com"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER="your-email@example.com"
EMAIL_SERVER_PASSWORD="your-email-password"
EMAIL_FROM="Your name"

# ID
NEXT_PUBLIC_WHATSAPP_NUMBER="your whatsapp number here"
NEXT_PUBLIC_CONTACT_EMAIL="your contact email here"
NEXT_PUBLIC_CONTACT_ADDRESS="your contact address here"

# Seed
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
